.galerie {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  border-radius: 20px;
  padding: 2rem;
}

/* Media queries */

@media screen and (width <= 768px) {
  .galerie {
    justify-content: center;
    background-color: white;
  }
}
