.banner {
  position: relative;
}

.banner img {
  height: 223px;
  width: 1240px;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(50%);
}

.banner h1 {
  color: white;
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: 300px;
}
