.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.banner img {
  height: 223px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(50%);
}

.banner h1 {
  color: white;
  font-size: 48px;
  position: absolute;
}

/* Media queries */

@media screen and (width <= 768px) {
  .banner img {
    height: 111px;
  }

  .banner h1 {
    font-size: 24px;
    padding-left: 1rem;
  }
}
