.error-content {
  color: #ff6060;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 288px;
  margin-top: 30px;
  margin-bottom: 40px;
}

h2 {
  font-size: 36px;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Media queries */

@media screen and (width <= 768px) {
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 18px;
  }
}
