.location {
  background-color: var(--red);
  width: calc(33.33% - 0.67rem);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 200px;
  min-width: 200px;
  align-items: end;
  display: flex;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

/* Media queries */

@media screen and (width <= 768px) {
  .location {
    flex-basis: 100%;
  }
}
