.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}
